:root {
    --dark-blue: #2d3945;
    --outline-color: #000080;
    --btn-blue: #4ebbb5;
    --input-color: #eff0f1;
    --label-color: #929eaa;
    --text-color: #878787;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    font-family: 'Merriweather', serif;
    color: var(--text-color);
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.btn{
    all: unset;
    width: 100%;
    background: var(--btn-blue);
    padding: 1rem 2rem;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3rem;
    
}

#newsletter .btn-move{
    padding: 2.5rem 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

fieldset {
    border: none;
}

legend,
h2 {
    color: var(--dark-blue);
}

legend {
    font-size: 1.5rem;
    letter-spacing: -1px;
    text-transform: capitalize;
    font-weight: bold;
}

input,
select,
textarea {
    padding: 1rem;
    border-radius: 5px;
    background: var(--input-color);
    border: none;
    outline-color: var(--outline-color);
}

/* Base end */

/* Header */
header {
    text-align: center;
}

.header-bg-color {
    background: var(--dark-blue);
    color: #fff;
    text-transform: uppercase;
    padding: 1.5rem;
}

.header-text{
    padding: 2rem 0 3rem 0;
}

/* Header end */

/* Contact */

#contact-info{
    padding: 3rem 0;
}
#contact-info label {
    text-transform: capitalize;
    padding-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}

input[name="zip"] {
    width: 200px;
}

input[placeholder="Required"] {
    text-align: right;
}

input[placeholder="Required"]:focus {
    text-align: left;
}

input:focus::placeholder {
    color: transparent;
}

/* Contact end */

/* Newsletter */

#newsletter{
    padding-top: 3rem;
    padding-bottom: 10rem;
}
#newsletter .newsletter-labels {
    display: inline-block;
}

#newsletter .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.italic{
    text-transform: capitalize;
    font-style: italic;
    text-align: center;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 12px;
}

textarea {
    resize: none;
  }

/* Newsletter end */